@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Roboto:wght@300&display=swap');
:root {
    --primary-color: #dee2d6;
    --secondary-color: #f3f8f2;
    --accent1-color: #6c6061;
    --accent2-color: #07393c;

    --heading-font: arial whitesmoke, serif;
    --paragraph-font: Arial black, serif;

    --nav-background-color: #ebebeb;
    --nav-link-color: #f3f8f2;
    --nav-hover-link-colour: #6c6061;
    --nav-hover-background-color:#ebebeb
}
main{
    max-width: 980px;
}
nav a {
    
    color: #ebe;
    text-decoration: none;
    padding: 1rem;
}
aside img{
    display: block;
    width: 100%;
    height: auto;
}
article img{
    float: right;
}
div article{
    position: absolute;
    background-color: skyblue;
    float: inline-end;
}
div h1{
    position: absolute;
}